<%= form_with(model: condition) do |form| %>
  <% if condition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(condition.errors.count, "error") %> Access denied, this condition has not been saved:</h2>

      <ul>
        <% condition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :attendance, style: "display: block" %>
    <%= form.number_field :attendance %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place %>
  </div>

  <div>
    <%= form.label :datetime, style: "display: block" %>
    <%= form.date_field :datetime %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
