<%= form_with(model: logistic) do |form| %>
  <% if logistic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(logistic.errors.count, "error") %> Access denied, this condition has not been saved:</h2>

      <ul>
        <% logistic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 row form-control-lg">
    <label class="col-sm-2 col-form-label">Actividad </label>
    <div class="col-sm-10">
    <%= form.text_field :Activity %>
  </div>
  </div>

  <div class="mb-3 row form-control-lg">
    <label class="col-sm-2 col-form-label">Equipo </label>
    <div class="col-sm-10">
    <%= form.number_field :crew %>
  </div>
  </div>

  <div class="mb-3 row form-control-lg">
    <label class="col-sm-2 col-form-label">Fecha registro </label>
    <div class="col-sm-10">
    <%= form.date_field :date %>
  </div>
  </div>

  <div class="mb-3 row form-control-lg">
    <label class="col-sm-2 col-form-label">Tipo de registro </label>
    <div class="col-sm-10">
    <%= form.number_field :activity_type %>
  </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
