<div id="<%= dom_id logistic %>">
  <p>
    <strong>Activity:</strong>
    <%= logistic.Activity %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= logistic.crew %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= logistic.date %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= logistic.activity_type %>
  </p>

</div>
